-- MariaDB dump 10.19  Distrib 10.4.32-MariaDB, for Win64 (AMD64)
--
-- Host: localhost    Database: quanlybandan
-- ------------------------------------------------------
-- Server version	10.4.32-MariaDB

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!40101 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `chinhsachbaohanh`
--

DROP TABLE IF EXISTS `chinhsachbaohanh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chinhsachbaohanh` (
  `maCS` int(11) NOT NULL AUTO_INCREMENT,
  `tenChinhSach` varchar(255) NOT NULL,
  `noiDung` text NOT NULL,
  `ngayTao` datetime DEFAULT current_timestamp(),
  `ngayCapNhat` datetime DEFAULT current_timestamp() ON UPDATE current_timestamp(),
  PRIMARY KEY (`maCS`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chinhsachbaohanh`
--

LOCK TABLES `chinhsachbaohanh` WRITE;
/*!40000 ALTER TABLE `chinhsachbaohanh` DISABLE KEYS */;
/*!40000 ALTER TABLE `chinhsachbaohanh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitietdieuchuyen`
--

DROP TABLE IF EXISTS `chitietdieuchuyen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chitietdieuchuyen` (
  `maPhieuDC` int(11) NOT NULL,
  `maSerial` int(11) NOT NULL,
  PRIMARY KEY (`maPhieuDC`,`maSerial`),
  KEY `maSerial` (`maSerial`),
  CONSTRAINT `chitietdieuchuyen_ibfk_1` FOREIGN KEY (`maPhieuDC`) REFERENCES `phieudieuchuyen` (`maPhieuDC`) ON DELETE CASCADE,
  CONSTRAINT `chitietdieuchuyen_ibfk_2` FOREIGN KEY (`maSerial`) REFERENCES `danserial` (`maSerial`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitietdieuchuyen`
--

LOCK TABLES `chitietdieuchuyen` WRITE;
/*!40000 ALTER TABLE `chitietdieuchuyen` DISABLE KEYS */;
/*!40000 ALTER TABLE `chitietdieuchuyen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitiethoadon`
--

DROP TABLE IF EXISTS `chitiethoadon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chitiethoadon` (
  `maChiTiet` int(11) NOT NULL AUTO_INCREMENT,
  `maHoaDon` int(11) DEFAULT NULL,
  `maSerial` int(11) DEFAULT NULL,
  `donGia` decimal(18,2) DEFAULT NULL,
  `khuyenMai` decimal(18,2) DEFAULT 0.00,
  PRIMARY KEY (`maChiTiet`),
  KEY `fk_cthd_hd` (`maHoaDon`),
  KEY `fk_cthd_ds` (`maSerial`),
  CONSTRAINT `fk_cthd_ds` FOREIGN KEY (`maSerial`) REFERENCES `danserial` (`maSerial`),
  CONSTRAINT `fk_cthd_hd` FOREIGN KEY (`maHoaDon`) REFERENCES `hoadon` (`maHoaDon`)
) ENGINE=InnoDB AUTO_INCREMENT=25 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitiethoadon`
--

LOCK TABLES `chitiethoadon` WRITE;
/*!40000 ALTER TABLE `chitiethoadon` DISABLE KEYS */;
INSERT INTO `chitiethoadon` VALUES (1,1,4,1500000.00,0.00),(3,3,4,212212.00,0.00),(4,4,19,115555555.00,0.00),(6,8,26,1.00,0.00),(7,10,32,15000000.00,0.00),(9,12,32,1.00,0.00),(10,13,18,15000000.00,0.00),(11,14,33,85000000.00,0.00),(12,15,101,20000000.00,0.00),(13,15,21,350000000.00,0.00),(14,17,20,8000000.00,0.00),(20,18,16,25000000.00,0.00),(21,19,28,140000000.00,0.00),(22,20,70,15000000.00,0.00),(23,6,103,40000000.00,0.00),(24,11,81,15000000.00,0.00);
/*!40000 ALTER TABLE `chitiethoadon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitietphieunhap`
--

DROP TABLE IF EXISTS `chitietphieunhap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chitietphieunhap` (
  `maChiTiet` int(11) NOT NULL AUTO_INCREMENT,
  `maPhieuNhap` int(11) DEFAULT NULL,
  `maSerial` int(11) DEFAULT NULL,
  `giaNhap` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`maChiTiet`),
  KEY `fk_ctpn_pn` (`maPhieuNhap`),
  KEY `fk_ctpn_ds` (`maSerial`),
  CONSTRAINT `fk_ctpn_ds` FOREIGN KEY (`maSerial`) REFERENCES `danserial` (`maSerial`),
  CONSTRAINT `fk_ctpn_pn` FOREIGN KEY (`maPhieuNhap`) REFERENCES `phieunhap` (`maPhieuNhap`)
) ENGINE=InnoDB AUTO_INCREMENT=13 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitietphieunhap`
--

LOCK TABLES `chitietphieunhap` WRITE;
/*!40000 ALTER TABLE `chitietphieunhap` DISABLE KEYS */;
INSERT INTO `chitietphieunhap` VALUES (1,1,41,23323423.00),(2,2,42,1500000.00),(3,3,43,15555555.00),(4,4,96,1500000.00),(5,5,97,1500000.00),(6,6,98,10000004.00),(7,7,99,15000000.00),(8,7,100,1577877.00),(9,8,101,16660000.00),(11,9,103,20000000.00),(12,10,104,11500000.00);
/*!40000 ALTER TABLE `chitietphieunhap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chitietphieuxuat`
--

DROP TABLE IF EXISTS `chitietphieuxuat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chitietphieuxuat` (
  `maChiTiet` int(11) NOT NULL AUTO_INCREMENT,
  `maPhieuXuat` int(11) DEFAULT NULL,
  `maSerial` int(11) DEFAULT NULL,
  PRIMARY KEY (`maChiTiet`),
  KEY `fk_ctpx_px` (`maPhieuXuat`),
  KEY `fk_ctpx_ds` (`maSerial`),
  CONSTRAINT `fk_ctpx_ds` FOREIGN KEY (`maSerial`) REFERENCES `danserial` (`maSerial`),
  CONSTRAINT `fk_ctpx_px` FOREIGN KEY (`maPhieuXuat`) REFERENCES `phieuxuat` (`maPhieuXuat`)
) ENGINE=InnoDB AUTO_INCREMENT=26 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chitietphieuxuat`
--

LOCK TABLES `chitietphieuxuat` WRITE;
/*!40000 ALTER TABLE `chitietphieuxuat` DISABLE KEYS */;
INSERT INTO `chitietphieuxuat` VALUES (1,2,4),(2,3,4),(3,4,4),(4,5,4),(5,7,17),(6,10,4),(7,12,15),(8,16,19),(9,17,1),(10,18,1),(11,19,19),(12,20,19),(13,21,29),(14,21,30),(15,30,18),(16,31,33),(17,35,32),(18,40,70),(19,42,28),(20,54,101),(21,54,21),(22,55,16),(23,56,20),(24,57,103),(25,58,81);
/*!40000 ALTER TABLE `chitietphieuxuat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `chuongtrinhkhuyenmai`
--

DROP TABLE IF EXISTS `chuongtrinhkhuyenmai`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `chuongtrinhkhuyenmai` (
  `maKM` int(11) NOT NULL AUTO_INCREMENT,
  `tenChuongTrinh` varchar(255) NOT NULL,
  `moTa` text DEFAULT NULL,
  `phanTramGiam` int(11) DEFAULT 0,
  `ngayBatDau` date NOT NULL,
  `ngayKetThuc` date NOT NULL,
  `trangThai` enum('─Éang diß╗àn ra','Sß║»p tß╗¢i','─É├ú kß║┐t th├║c') DEFAULT '─Éang diß╗àn ra',
  `ngayTao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`maKM`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `chuongtrinhkhuyenmai`
--

LOCK TABLES `chuongtrinhkhuyenmai` WRITE;
/*!40000 ALTER TABLE `chuongtrinhkhuyenmai` DISABLE KEYS */;
/*!40000 ALTER TABLE `chuongtrinhkhuyenmai` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `danserial`
--

DROP TABLE IF EXISTS `danserial`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `danserial` (
  `maSerial` int(11) NOT NULL AUTO_INCREMENT,
  `soSerial` varchar(100) NOT NULL,
  `maMau` int(11) DEFAULT NULL,
  `maKho` int(11) DEFAULT NULL,
  `maNCC` int(11) DEFAULT NULL,
  `tinhTrang` varchar(100) DEFAULT NULL,
  `trangThai` enum('Trong kho','─É├ú b├ín','─Éang bß║úo h├ánh','Lß╗ùi/Khß║Ñu hao','Chß╗¥ nhß║¡p','Chß╗¥ xuß║Ñt','Chß╗¥ giao','─É├ú hß╗ºy','─Éang ─æiß╗üu chuyß╗ân','─É├ú xuß║Ñt h├úng') DEFAULT 'Trong kho',
  `giaNhap` decimal(18,2) DEFAULT NULL,
  `giaBan` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`maSerial`),
  UNIQUE KEY `soSerial` (`soSerial`),
  KEY `fk_ds_mau` (`maMau`),
  KEY `fk_ds_kho` (`maKho`),
  KEY `fk_ds_ncc` (`maNCC`),
  CONSTRAINT `fk_ds_kho` FOREIGN KEY (`maKho`) REFERENCES `kho` (`maKho`),
  CONSTRAINT `fk_ds_mau` FOREIGN KEY (`maMau`) REFERENCES `maudan` (`maMau`),
  CONSTRAINT `fk_ds_ncc` FOREIGN KEY (`maNCC`) REFERENCES `nhacungcap` (`maNCC`)
) ENGINE=InnoDB AUTO_INCREMENT=105 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `danserial`
--

LOCK TABLES `danserial` WRITE;
/*!40000 ALTER TABLE `danserial` DISABLE KEYS */;
/*!40000 ALTER TABLE `danserial` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `dieuchuyenkho`
--

DROP TABLE IF EXISTS `dieuchuyenkho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `dieuchuyenkho` (
  `maDieuChuyen` int(11) NOT NULL AUTO_INCREMENT,
  `maSerial` int(11) DEFAULT NULL,
  `tuKho` int(11) DEFAULT NULL,
  `denKho` int(11) DEFAULT NULL,
  `ngayChuyen` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`maDieuChuyen`),
  KEY `fk_dc_ds` (`maSerial`),
  KEY `fk_dc_tukho` (`tuKho`),
  KEY `fk_dc_denkho` (`denKho`),
  CONSTRAINT `fk_dc_denkho` FOREIGN KEY (`denKho`) REFERENCES `kho` (`maKho`),
  CONSTRAINT `fk_dc_ds` FOREIGN KEY (`maSerial`) REFERENCES `danserial` (`maSerial`),
  CONSTRAINT `fk_dc_tukho` FOREIGN KEY (`tuKho`) REFERENCES `kho` (`maKho`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `dieuchuyenkho`
--

LOCK TABLES `dieuchuyenkho` WRITE;
/*!40000 ALTER TABLE `dieuchuyenkho` DISABLE KEYS */;
/*!40000 ALTER TABLE `dieuchuyenkho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hangdan`
--

DROP TABLE IF EXISTS `hangdan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hangdan` (
  `maHang` int(11) NOT NULL AUTO_INCREMENT,
  `tenHang` varchar(100) NOT NULL,
  `xuatXu` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`maHang`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hangdan`
--

LOCK TABLES `hangdan` WRITE;
/*!40000 ALTER TABLE `hangdan` DISABLE KEYS */;
INSERT INTO `hangdan` VALUES (1,'Yamaha','Nhß║¡t Bß║ún'),(2,'Taylor','Mß╗╣'),(3,'Fender','Mß╗╣'),(4,'Cordoba','T├óy Ban Nha'),(5,'Suzuki','Nhß║¡t Bß║ún'),(6,'Kawai','Nh?t B?n'),(7,'Gibson','Mß╗╣'),(8,'Ibanez','Nhß║¡t Bß║ún'),(9,'Martin','Mß╗╣'),(10,'Martin','M├ƒΓòùΓòú');
/*!40000 ALTER TABLE `hangdan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `hoadon`
--

DROP TABLE IF EXISTS `hoadon`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `hoadon` (
  `maHoaDon` int(11) NOT NULL AUTO_INCREMENT,
  `maKhachHang` int(11) DEFAULT NULL,
  `maKM` int(11) DEFAULT NULL,
  `tenDonVi` varchar(255) DEFAULT NULL,
  `maSoThue` varchar(50) DEFAULT NULL,
  `maNhanVien` int(11) DEFAULT NULL,
  `ngayLap` datetime DEFAULT current_timestamp(),
  `tongTien` decimal(18,2) DEFAULT NULL,
  `hinhThucThanhToan` varchar(50) DEFAULT NULL,
  `thueGTGT` int(11) DEFAULT 0,
  `trangThai` varchar(50) DEFAULT NULL,
  PRIMARY KEY (`maHoaDon`),
  KEY `fk_hd_kh` (`maKhachHang`),
  KEY `fk_hd_nv` (`maNhanVien`),
  CONSTRAINT `fk_hd_kh` FOREIGN KEY (`maKhachHang`) REFERENCES `khachhang` (`maKhachHang`),
  CONSTRAINT `fk_hd_nv` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`)
) ENGINE=InnoDB AUTO_INCREMENT=21 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `hoadon`
--

LOCK TABLES `hoadon` WRITE;
/*!40000 ALTER TABLE `hoadon` DISABLE KEYS */;
/*!40000 ALTER TABLE `hoadon` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `khachhang`
--

DROP TABLE IF EXISTS `khachhang`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `khachhang` (
  `maKhachHang` int(11) NOT NULL AUTO_INCREMENT,
  `hoTen` varchar(100) NOT NULL,
  `soDienThoai` varchar(20) DEFAULT NULL,
  `emailKH` varchar(100) DEFAULT NULL,
  `diaChi` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`maKhachHang`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `khachhang`
--

LOCK TABLES `khachhang` WRITE;
/*!40000 ALTER TABLE `khachhang` DISABLE KEYS */;
INSERT INTO `khachhang` VALUES (1,'Kh├ích lß║╗ v├úng lai','',NULL,'Mua trß╗▒c tiß║┐p tß║íi cß╗¡a h├áng'),(2,'─Éß║╖ng V─ân Kh├ích','0999888777',NULL,'L├¬ Ch├ón, Hß║úi Ph├▓ng'),(3,'nguyß╗àn ─æß╗⌐c trung','01547774455','trungxun28@gmail.com','30a1 hß║í ─æoß║ín 2'),(4,'nguyen tung duong','12312312312312','duong@gmail.com','big c hair phongf'),(5,'nguyß╗àn quang minh','0356611575','minh@gmail.com','h├á nß╗Öi fc');
/*!40000 ALTER TABLE `khachhang` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `kho`
--

DROP TABLE IF EXISTS `kho`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `kho` (
  `maKho` int(11) NOT NULL AUTO_INCREMENT,
  `tenKho` varchar(100) NOT NULL,
  `diaChi` varchar(255) DEFAULT NULL,
  PRIMARY KEY (`maKho`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `kho`
--

LOCK TABLES `kho` WRITE;
/*!40000 ALTER TABLE `kho` DISABLE KEYS */;
INSERT INTO `kho` VALUES (1,'Kho 1','Manhattan 0901, Vinhome Imperia'),(2,'Kho 2','53 Lß║ích Tray, Ng├┤ Quyß╗ün, Hß║úi Ph├▓ng');
/*!40000 ALTER TABLE `kho` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `loaidan`
--

DROP TABLE IF EXISTS `loaidan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `loaidan` (
  `maLoai` int(11) NOT NULL AUTO_INCREMENT,
  `tenLoai` varchar(100) NOT NULL,
  PRIMARY KEY (`maLoai`)
) ENGINE=InnoDB AUTO_INCREMENT=10 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `loaidan`
--

LOCK TABLES `loaidan` WRITE;
/*!40000 ALTER TABLE `loaidan` DISABLE KEYS */;
INSERT INTO `loaidan` VALUES (1,'Acoustic Guitar'),(2,'Classic Guitar'),(3,'Electric Guitar'),(4,'Bass Guitar'),(5,'Piano ─Éiß╗çn'),(6,'Grand Piano'),(7,'Upright Piano'),(8,'Grand Piano'),(9,'Upright Piano');
/*!40000 ALTER TABLE `loaidan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `maudan`
--

DROP TABLE IF EXISTS `maudan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `maudan` (
  `maMau` int(11) NOT NULL AUTO_INCREMENT,
  `tenMau` varchar(100) NOT NULL,
  `maLoai` int(11) DEFAULT NULL,
  `maHang` int(11) DEFAULT NULL,
  `moTa` text DEFAULT NULL,
  `hinhAnh` varchar(255) DEFAULT NULL,
  `xuatXu` varchar(100) DEFAULT NULL,
  `chatLieu` varchar(255) DEFAULT NULL,
  `kichThuoc` varchar(100) DEFAULT NULL,
  `trongLuong` varchar(50) DEFAULT NULL,
  `mauSac` varchar(100) DEFAULT NULL,
  `baoHanh` varchar(50) DEFAULT '5 n─âm',
  PRIMARY KEY (`maMau`),
  KEY `fk_md_loai` (`maLoai`),
  KEY `fk_md_hang` (`maHang`),
  CONSTRAINT `fk_md_hang` FOREIGN KEY (`maHang`) REFERENCES `hangdan` (`maHang`),
  CONSTRAINT `fk_md_loai` FOREIGN KEY (`maLoai`) REFERENCES `loaidan` (`maLoai`)
) ENGINE=InnoDB AUTO_INCREMENT=20 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `maudan`
--

LOCK TABLES `maudan` WRITE;
/*!40000 ALTER TABLE `maudan` DISABLE KEYS */;
/*!40000 ALTER TABLE `maudan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhacungcap`
--

DROP TABLE IF EXISTS `nhacungcap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nhacungcap` (
  `maNCC` int(11) NOT NULL AUTO_INCREMENT,
  `tenNCC` varchar(100) NOT NULL,
  `diaChi` varchar(255) DEFAULT NULL,
  `soDienThoai` varchar(20) DEFAULT NULL,
  `emailNCC` varchar(100) DEFAULT NULL,
  PRIMARY KEY (`maNCC`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhacungcap`
--

LOCK TABLES `nhacungcap` WRITE;
/*!40000 ALTER TABLE `nhacungcap` DISABLE KEYS */;
INSERT INTO `nhacungcap` VALUES (1,'C├┤ng ty Nhß║íc cß╗Ñ Yamaha Viß╗çt Nam','Quß║¡n 1, TP. HCM','02811112222','contact@yamaha.vn'),(2,'Nh├á ph├ón phß╗æi Sao Mai','─Éß╗æng ─Éa, H├á Nß╗Öi','02433334444','saomaimusic@gmail.com');
/*!40000 ALTER TABLE `nhacungcap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhanvien`
--

DROP TABLE IF EXISTS `nhanvien`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nhanvien` (
  `maNhanVien` int(11) NOT NULL AUTO_INCREMENT,
  `hoTen` varchar(100) NOT NULL,
  `soDienThoai` varchar(20) DEFAULT NULL,
  `emailNV` varchar(100) DEFAULT NULL,
  `anhDaiDien` varchar(255) DEFAULT NULL,
  `trangThai` varchar(50) DEFAULT 'Hoß║ít ─æß╗Öng',
  `createAt` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`maNhanVien`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhanvien`
--

LOCK TABLES `nhanvien` WRITE;
/*!40000 ALTER TABLE `nhanvien` DISABLE KEYS */;
/*!40000 ALTER TABLE `nhanvien` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `nhatkyhethong`
--

DROP TABLE IF EXISTS `nhatkyhethong`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `nhatkyhethong` (
  `maNhatKy` int(11) NOT NULL AUTO_INCREMENT,
  `maTaiKhoan` int(11) NOT NULL,
  `loaiHanhDong` varchar(100) NOT NULL,
  `chiTiet` text NOT NULL,
  `ngayTao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`maNhatKy`),
  KEY `maTaiKhoan` (`maTaiKhoan`),
  CONSTRAINT `nhatkyhethong_ibfk_1` FOREIGN KEY (`maTaiKhoan`) REFERENCES `taikhoan` (`maTaiKhoan`) ON DELETE CASCADE
) ENGINE=InnoDB AUTO_INCREMENT=136 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_general_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `nhatkyhethong`
--

LOCK TABLES `nhatkyhethong` WRITE;
/*!40000 ALTER TABLE `nhatkyhethong` DISABLE KEYS */;
/*!40000 ALTER TABLE `nhatkyhethong` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieubaohanh`
--

DROP TABLE IF EXISTS `phieubaohanh`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phieubaohanh` (
  `maBaoHanh` int(11) NOT NULL AUTO_INCREMENT,
  `maSerial` int(11) DEFAULT NULL,
  `maNCC` int(11) DEFAULT NULL,
  `maNhanVien` int(11) DEFAULT NULL,
  `ngayGui` datetime DEFAULT NULL,
  `ngayNhan` datetime DEFAULT NULL,
  `trangThai` varchar(50) DEFAULT NULL,
  `moTaLoi` text DEFAULT NULL,
  `ketQua` text DEFAULT NULL,
  PRIMARY KEY (`maBaoHanh`),
  KEY `fk_pbh_ds` (`maSerial`),
  KEY `fk_pbh_ncc` (`maNCC`),
  KEY `fk_pbh_nv` (`maNhanVien`),
  CONSTRAINT `fk_pbh_ds` FOREIGN KEY (`maSerial`) REFERENCES `danserial` (`maSerial`),
  CONSTRAINT `fk_pbh_ncc` FOREIGN KEY (`maNCC`) REFERENCES `nhacungcap` (`maNCC`),
  CONSTRAINT `fk_pbh_nv` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieubaohanh`
--

LOCK TABLES `phieubaohanh` WRITE;
/*!40000 ALTER TABLE `phieubaohanh` DISABLE KEYS */;
/*!40000 ALTER TABLE `phieubaohanh` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieubaotri`
--

DROP TABLE IF EXISTS `phieubaotri`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phieubaotri` (
  `maPhieuBT` int(11) NOT NULL AUTO_INCREMENT,
  `maHoaDon` int(11) NOT NULL,
  `maKhachHang` int(11) NOT NULL,
  `maSerial` int(11) NOT NULL,
  `maNhanVienLap` int(11) NOT NULL,
  `ngayTiepNhan` datetime NOT NULL,
  `moTaLoi` text DEFAULT NULL,
  `maHang` int(11) DEFAULT NULL,
  `trangThai` enum('Chß╗¥ duyß╗çt tiß║┐p nhß║¡n','─É├ú tiß║┐p nhß║¡n','Chß╗¥ duyß╗çt nhß║¡p kho','─É├ú nhß║¡p kho','Chß╗¥ duyß╗çt xuß║Ñt h├úng','─É├ú xuß║Ñt h├úng','Ho├án th├ánh','─É├ú hß╗ºy') NOT NULL DEFAULT 'Chß╗¥ duyß╗çt tiß║┐p nhß║¡n',
  `ngayCapNhat` datetime DEFAULT NULL,
  PRIMARY KEY (`maPhieuBT`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieubaotri`
--

LOCK TABLES `phieubaotri` WRITE;
/*!40000 ALTER TABLE `phieubaotri` DISABLE KEYS */;
INSERT INTO `phieubaotri` VALUES (1,6,2,25,1,'2026-08-09 16:54:39','gß║½y ch├ón ─æ├án',6,'Ho├án th├ánh','2026-08-12 12:26:20'),(2,14,4,33,1,'2026-08-16 12:42:25','─æ├án bß╗ï lß╗ùi ├óm thanh',6,'Ho├án th├ánh','2026-08-16 12:43:11');
/*!40000 ALTER TABLE `phieubaotri` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieudieuchuyen`
--

DROP TABLE IF EXISTS `phieudieuchuyen`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phieudieuchuyen` (
  `maPhieuDC` int(11) NOT NULL AUTO_INCREMENT,
  `maKhoXuat` int(11) NOT NULL,
  `maKhoNhap` int(11) NOT NULL,
  `ngayTao` datetime DEFAULT current_timestamp(),
  `maNhanVienLap` int(11) NOT NULL,
  `trangThai` enum('Chß╗¥ duyß╗çt','Ho├án th├ánh','─É├ú hß╗ºy') DEFAULT 'Chß╗¥ duyß╗çt',
  `ghiChu` text DEFAULT NULL,
  PRIMARY KEY (`maPhieuDC`),
  KEY `maKhoXuat` (`maKhoXuat`),
  KEY `maKhoNhap` (`maKhoNhap`),
  KEY `maNhanVienLap` (`maNhanVienLap`),
  CONSTRAINT `phieudieuchuyen_ibfk_1` FOREIGN KEY (`maKhoXuat`) REFERENCES `kho` (`maKho`),
  CONSTRAINT `phieudieuchuyen_ibfk_2` FOREIGN KEY (`maKhoNhap`) REFERENCES `kho` (`maKho`),
  CONSTRAINT `phieudieuchuyen_ibfk_3` FOREIGN KEY (`maNhanVienLap`) REFERENCES `nhanvien` (`maNhanVien`)
) ENGINE=InnoDB AUTO_INCREMENT=3 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieudieuchuyen`
--

LOCK TABLES `phieudieuchuyen` WRITE;
/*!40000 ALTER TABLE `phieudieuchuyen` DISABLE KEYS */;
/*!40000 ALTER TABLE `phieudieuchuyen` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieunhap`
--

DROP TABLE IF EXISTS `phieunhap`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phieunhap` (
  `maPhieuNhap` int(11) NOT NULL AUTO_INCREMENT,
  `maNCC` int(11) DEFAULT NULL,
  `soHoaDonNCC` varchar(50) DEFAULT NULL,
  `nguoiGiaoHang` varchar(100) DEFAULT NULL,
  `ngayHoaDon` date DEFAULT NULL,
  `ghiChu` text DEFAULT NULL,
  `maNhanVien` int(11) DEFAULT NULL,
  `maKho` int(11) DEFAULT NULL,
  `ngayNhap` datetime DEFAULT current_timestamp(),
  `soLuong` int(11) DEFAULT NULL,
  `trangThai` enum('Chß╗¥ duyß╗çt','Ho├án th├ánh','─É├ú hß╗ºy') NOT NULL DEFAULT 'Chß╗¥ duyß╗çt',
  `tongTienNhap` decimal(18,2) DEFAULT NULL,
  PRIMARY KEY (`maPhieuNhap`),
  KEY `fk_pn_ncc` (`maNCC`),
  KEY `fk_pn_nv` (`maNhanVien`),
  CONSTRAINT `fk_pn_ncc` FOREIGN KEY (`maNCC`) REFERENCES `nhacungcap` (`maNCC`),
  CONSTRAINT `fk_pn_nv` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`)
) ENGINE=InnoDB AUTO_INCREMENT=11 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieunhap`
--

LOCK TABLES `phieunhap` WRITE;
/*!40000 ALTER TABLE `phieunhap` DISABLE KEYS */;
/*!40000 ALTER TABLE `phieunhap` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `phieuxuat`
--

DROP TABLE IF EXISTS `phieuxuat`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `phieuxuat` (
  `maPhieuXuat` int(11) NOT NULL AUTO_INCREMENT,
  `maNhanVien` int(11) DEFAULT NULL,
  `ngayXuat` datetime DEFAULT current_timestamp(),
  `lyDoXuat` varchar(100) DEFAULT NULL,
  `maKho` int(11) DEFAULT NULL,
  `maHoaDon` int(11) DEFAULT NULL,
  `nguoiNhanHang` varchar(100) DEFAULT NULL,
  `soChungTu` varchar(100) DEFAULT NULL,
  `ngayChungTu` date DEFAULT NULL,
  `donViNhan` varchar(200) DEFAULT NULL,
  `trangThai` enum('Chß╗¥ duyß╗çt','Ho├án th├ánh','─É├ú hß╗ºy') NOT NULL DEFAULT 'Chß╗¥ duyß╗çt',
  PRIMARY KEY (`maPhieuXuat`),
  KEY `fk_px_nv` (`maNhanVien`),
  KEY `fk_px_kho` (`maKho`),
  KEY `fk_px_hoadon` (`maHoaDon`),
  CONSTRAINT `fk_px_hoadon` FOREIGN KEY (`maHoaDon`) REFERENCES `hoadon` (`maHoaDon`),
  CONSTRAINT `fk_px_kho` FOREIGN KEY (`maKho`) REFERENCES `kho` (`maKho`),
  CONSTRAINT `fk_px_nv` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`)
) ENGINE=InnoDB AUTO_INCREMENT=59 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `phieuxuat`
--

LOCK TABLES `phieuxuat` WRITE;
/*!40000 ALTER TABLE `phieuxuat` DISABLE KEYS */;
/*!40000 ALTER TABLE `phieuxuat` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `taikhoan`
--

DROP TABLE IF EXISTS `taikhoan`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `taikhoan` (
  `maTaiKhoan` int(11) NOT NULL AUTO_INCREMENT,
  `tenDangNhap` varchar(50) NOT NULL,
  `matKhau` varchar(255) NOT NULL,
  `maNhanVien` int(11) DEFAULT NULL,
  `maVaiTro` int(11) DEFAULT NULL,
  `trangThai` varchar(50) DEFAULT 'Hoß║ít ─æß╗Öng',
  `ngayTao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`maTaiKhoan`),
  UNIQUE KEY `tenDangNhap` (`tenDangNhap`),
  KEY `fk_tk_nv` (`maNhanVien`),
  KEY `fk_tk_vt` (`maVaiTro`),
  CONSTRAINT `fk_tk_nv` FOREIGN KEY (`maNhanVien`) REFERENCES `nhanvien` (`maNhanVien`),
  CONSTRAINT `fk_tk_vt` FOREIGN KEY (`maVaiTro`) REFERENCES `vaitro` (`maVaiTro`)
) ENGINE=InnoDB AUTO_INCREMENT=6 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `taikhoan`
--

LOCK TABLES `taikhoan` WRITE;
/*!40000 ALTER TABLE `taikhoan` DISABLE KEYS */;
INSERT INTO `taikhoan` VALUES (1,'admin','1',1,1,'Hoß║ít ─æß╗Öng','2026-04-22 10:48:39'),(2,'thukho','1',2,2,'Hoß║ít ─æß╗Öng','2026-04-22 10:48:39'),(4,'thukho2','1',4,2,'Hoß║ít ─æß╗Öng','2026-08-12 12:04:49'),(5,'thukho3','1',5,2,'Hoß║ít ─æß╗Öng','2026-08-12 12:09:22');
/*!40000 ALTER TABLE `taikhoan` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `thongbao`
--

DROP TABLE IF EXISTS `thongbao`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `thongbao` (
  `maThongBao` int(11) NOT NULL AUTO_INCREMENT,
  `maTaiKhoan` int(11) DEFAULT NULL,
  `maVaiTro` int(11) DEFAULT NULL,
  `noiDung` text NOT NULL,
  `link` varchar(255) DEFAULT NULL,
  `daDoc` tinyint(4) DEFAULT 0,
  `ngayTao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`maThongBao`)
) ENGINE=InnoDB AUTO_INCREMENT=81 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `thongbao`
--

LOCK TABLES `thongbao` WRITE;
/*!40000 ALTER TABLE `thongbao` DISABLE KEYS */;
/*!40000 ALTER TABLE `thongbao` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vaitro`
--

DROP TABLE IF EXISTS `vaitro`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vaitro` (
  `maVaiTro` int(11) NOT NULL AUTO_INCREMENT,
  `tenVaiTro` varchar(50) NOT NULL,
  PRIMARY KEY (`maVaiTro`)
) ENGINE=InnoDB AUTO_INCREMENT=4 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vaitro`
--

LOCK TABLES `vaitro` WRITE;
/*!40000 ALTER TABLE `vaitro` DISABLE KEYS */;
INSERT INTO `vaitro` VALUES (1,'Quß║ún trß╗ï vi├¬n'),(2,'Nh├ón vi├¬n Thß╗º kho'),(3,'Nh├ón vi├¬n B├ín h├áng');
/*!40000 ALTER TABLE `vaitro` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `vieccanlam`
--

DROP TABLE IF EXISTS `vieccanlam`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!40101 SET character_set_client = utf8 */;
CREATE TABLE `vieccanlam` (
  `maViec` int(11) NOT NULL AUTO_INCREMENT,
  `maTaiKhoan` int(11) NOT NULL,
  `noiDung` varchar(255) NOT NULL,
  `trangThai` tinyint(1) DEFAULT 0,
  `ngayTao` datetime DEFAULT current_timestamp(),
  PRIMARY KEY (`maViec`)
) ENGINE=InnoDB DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_unicode_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `vieccanlam`
--

LOCK TABLES `vieccanlam` WRITE;
/*!40000 ALTER TABLE `vieccanlam` DISABLE KEYS */;
/*!40000 ALTER TABLE `vieccanlam` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-08-21 15:40:59
